@model IEnumerable<CineviewsApp.Models.Filme>

@{
    ViewData["Title"] = "Index";
    var searchString = ViewData["CurrentFilter"] as string ?? "";
}

<h1>Top Filmes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@searchString" class="text-decoration-none">
                    <span class="text-dark">
                        @Html.DisplayNameFor(model => model.Nome)
                    </span>
                    @if (ViewData["NameSortParm"] != null)
                    {
                        <span class="@(ViewData["NameSortParm"].ToString().ToLower() == "name_desc" ? "fa fa-arrow-down" : "fa fa-arrow-up") bg-dark text-white"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DirectorSortParm"]" asp-route-searchString="@searchString" class="text-decoration-none">
                    <span class="text-dark">
                    @Html.DisplayNameFor(model => model.Diretor)
                    </span>
                    @if (ViewData["DirectorSortParm"] != null)
                    {
                        <span class="@(ViewData["DirectorSortParm"].ToString().ToLower() == "director_desc" ? "fa fa-arrow-down" : "fa fa-arrow-up") bg-dark text-white"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@searchString" class="text-decoration-none">
                    <span class="text-dark">
                    @Html.DisplayNameFor(model => model.DataLancamento)
                    </span>
                    @if (ViewData["DateSortParm"] != null)
                    {
                        <span class="@(ViewData["DateSortParm"].ToString().ToLower() == "date_desc" ? "fa fa-arrow-down" : "fa fa-arrow-up") bg-dark text-white"></span>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ScoreSortParm"]" asp-route-searchString="@searchString" class="text-decoration-none">
                <span class="text-dark">
                @Html.DisplayNameFor(model => model.Score)
                </span>    
                    @if (ViewData["ScoreSortParm"] != null)
                    {
                        <span class="@(ViewData["ScoreSortParm"].ToString().ToLower() == "score_desc" ? "fa fa-arrow-down" : "fa fa-arrow-up") bg-dark text-white"></span>
                    }
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAssistido)
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Relatorio" asp-route-id="@item.Id">@item.Nome</a>
 @*                @Html.DisplayFor(modelItem => item.Nome) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diretor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" id="assistidoCheckbox_@item.Id" @(item.IsAssistido ? "checked" : "") onchange="updateAssistidoStatus('@item.Id', this.checked)">
                     <label class="form-check-label" for="assistidoCheckbox_@item.Id"></label>
                 </div>
             </td>

            <td>
@*                 <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script src="/js/site.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
}