@model CineviewsApp.Models.Meufilme

@{
    ViewData["Title"] = "Details";
}

<h4 class="mb-4">Detalhes</h4>

<div>    
    <dl class="row">
        <dt class = "col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.MeuScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeuScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filme.Nome)
        </dd>
        <dt class="col-sm-2 mb-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
        <div>
            
            <a asp-action="LikeReview" asp-route-id="@Model.Id" asp-route-likeType="true" class="btn btn-success">
                <i class="fas fa-thumbs-up"></i>
            </a>
            
            <span class="ml-1">@Model.ThumbsUp</span>
            
            <a asp-action="LikeReview" asp-route-id="@Model.Id" asp-route-likeType="false" class="btn btn-danger">
                <i class="fas fa-thumbs-down"></i>
            </a>
            
            <span class="ml-1">@Model.ThumbsDown</span>
        </div>

    </dl>
    
    <div class="mt-4">
        <a asp-action="Index" class="btn btn-outline-secondary">&#8630 Voltar</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
    </div>



</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />